<% unless smart_listing.empty? then %>
  <table>
    <tr>
      <th><%= smart_listing.sortable "Date", :date %></th>
      <th><%= smart_listing.sortable "Name", :name %></th>
      <th>By</th>
      <th><%= smart_listing.sortable "Amount", :amount %></th>
      <th>Accepted by me</th>
      <th>Accepted total</th>
      <th>Accepted</th>
      <th>Complete</th>
      <th>Description</th>
      <th></th>
    </tr>

  <% smart_listing.collection.each do |purchase| %>
    <tr>
      <td><%= purchase.date %></td>
      <td><%= purchase.name %></td>
      <td><%= purchase.person.name %></td>
      <td><%= to_money purchase.amount %></td>
      <td><%= to_money(purchase.accepted_by_me(current_person) || 0) %></td>
      <td><%= to_money purchase.accepted_total %></td>
      <td><%= check_box_tag("accepted#{purchase.id}", "1", (not purchase.accepted_by_me(current_person).nil?), :disabled=>true) %></td>
      <td><%= check_box_tag("complete#{purchase.id}", "1", purchase.accepted_total == purchase.amount, :disabled=>true) %></td>
      <td><%= truncate(purchase.description, separator: ' ') %></td>
      <td><%= link_to 'Show', purchase %></td>
    </tr>
  <% end %>
  </table>
  <%= smart_listing.paginate %>
  <%= smart_listing.pagination_per_page_links %>
<% else %>
  <p>No purchases</p>
<% end %>
