%h1 Debug

%h3 Raw
%table
  %tr
    %th From
    %th To
    %th Amount
  - @dbg[:raw].hash.each do |to, froms|
    - froms.each do |from, amount|
      %tr
        %td= from
        %td= to
        %td= amount

%h3 Simplifed
- @dbg[:simplified].each_with_index do |s, i|
  %h4= i
  %table
    %tr
      %th From
      %th To
      %th Amount
    - s.hash.each do |to, froms|
      - froms.each do |from, amount|
        %tr
          %td= from
          %td= to
          %td= amount


%h3 PersonBooks
- @dbg[:person_books].each_with_index do |pb, i|
  %h4= i
  %table
    %tr
      %th Person
      %th Amount
    - pb.each do |person, amount|
      %tr
        %td= person
        %td= amount

%h3 Minimal
%table
  %tr
    %th From
    %th To
    %th Amount
  - @dbg[:minimal].each do |transaction|
    %tr
      %td= transaction[:from]
      %td= transaction[:to]
      %td= transaction[:amount]
